.payment {
  margin: 2em auto;
}

.debtReview {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  padding: 1em 0;
  margin-bottom: 1.5em;
  border-bottom: 2px solid $green3;
  font-size: 1.1em;

  strong {
    display: block;
    font-size: 1.5em;
  }

  .toright {
    text-align: right;
  }
}

.boleto {
  border: 3px solid $purple4;
  border-radius: 20px;
  padding: .5em;
  text-align: center;
  margin-bottom: 2em;

  img {
    margin: .5em auto;
    width: 30%;
    height: auto;
  }
}

.formDeal {

  .lblDate {
    display: block;
    margin-bottom: .5em;
  }

  input {
    border: 1px solid rgba($gray, .6);
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: 1.2em;
    padding: .7em;
    font-family: 'all-round-gothic, sans-serif';
  }

  .btnHolder {
    margin: 2em auto;
    padding-top: 2em;
    border-top: 2px solid $green3
  }

  .btnDefault {
    width: 100%;
  }
}