/* COLORS */
$purple1: #5d10a6; 
$purple2: #4c31ac;
$purple3: #bca2f2;
$purple4: #a7b2f2;
$purple5: #ebc8ff;
$purple6: #503e99;
$blue1: #004c75;
$blue2: #03669c;
$blue3: #0092a6;
$blue4: #b9ecff;
$blue5: #91cdf2;
$blue6: #79e6f2;
$green1: #009e9b;
$green2: #07f2f2;
$green3: #c6ffe5;
$pink1: #ffd0e6;
$gray: #666;
$alt-color: #FFF;

.purple1 {
  color: $purple1;
}
.purple2 {
  color: $purple2;
}
.purple3 {
  color: $purple3;
}
.purple4 {
  color: $purple4;
}
.purple5 {
  color: $purple5;
}
.purple6 {
  color: $purple6;
}
.blue1 {
  color: $blue1;
}
.blue2 {
  color: $blue2;
}
.blue3 {
  color: $blue3;
}
.blue4 {
  color: $blue4;
}
.blue5 {
  color: $blue5;
}
.blue6 {
  color: $blue6;
}
.green1 {
  color: $green1;
}
.green2 {
  color: $green2;
}
.green3 {
  color: $green3;
}
.pink1 {
  color: $pink1;
}
.gray {
  color: $gray;
}
.altcolor {
  color: $alt-color;
}

.bgpurple1 {
  background-color: $purple1;
}
.bgpurple2 {
  background-color: $purple2;
}
.bgpurple3 {
  background-color: $purple3;
}
.bgpurple4 {
  background-color: $purple4;
}
.bgpurple5 {
  background-color: $purple5;
}
.bgpurple6 {
  background-color: $purple6;
}
.bgblue1 {
  background-color: $blue1;
}
.bgblue2 {
  background-color: $blue2;
}
.bgblue3 {
  background-color: $blue3;
}
.bgblue4 {
  background-color: $blue4;
}
.bgblue5 {
  background-color: $blue5;
}
.bgblue6 {
  background-color: $blue6;
}
.bggreen1 {
  background-color: $green1;
}
.bggreen2 {
  background-color: $green2;
}
.bggreen3 {
  background-color: $green3;
}
.bgpink1 {
  background-color: $pink1;
}
.bggray {
  background-color: $gray;
}
.bgaltcolor {
  background-color: $alt-color;
}