<div class="pagewrap pagein">
  
  <section class="page-title">
    <h1 class="main-title">
      Método de pagamento
    </h1>
  </section>
  <section class="payment-method">
    <div class="debt-presentation">
      <div class="logo">
        <img src="../../assets/img/logos/claro-movel.svg" alt="Claro Movel">
      </div>
      <div class="info">
        <button class="btnDefault">
          Renegociar
        </button>
        <p class="value money purple2">
          R$ 882345,50
        </p>
      </div>
    </div>
    <div class="debt-info">
      <ul>
        <li>
          <p class="title">
            Crédito Imobiliário
          </p>
          <div class="debtdata">
            <div>
              <p>
                <strong>
                  Título
                </strong>
                3425167852
              </p>
          
              <p>
                <strong>
                  Saldo
                </strong>
                R$ 12504,22
              </p>
            </div>
            <div class="date">
              <strong>
                Data da dívida
              </strong>
              24/02/2020
            </div>
          
          </div>
        </li>

        <li>
          <p class="title">
            Crédito Imobiliário
          </p>
          <div class="debtdata">
            <div>
              <p>
                <strong>
                  Título
                </strong>
                3425167852
              </p>

              <p>
                <strong>
                  Saldo
                </strong>
                R$ 1254,22
              </p>
            </div>
            <div class="date">
              <strong>
                Data da dívida
              </strong>
              24/02/2020
            </div>
        
          </div>
        </li>
      </ul>
    </div>
  </section>
  <a href="" class="btnBack">
    Voltar
  </a>
</div>