// $speedboxsizeW: 6.875vw; //110px
// $speedboxsizeH: 16.10vh; //130px

$speedboxsizeW: 110px;
$speedboxsizeH: 130px;

.payment-method {
  margin: 2em 0;
}

.debt-presentation {
  display: flex;
  justify-content: space-around;
  height: 35vw;
  margin-bottom: 2em;

  .companyLogo {
    width: 35vw;
    height: 35vw;
    max-width: 35%;
    padding: 1em 0;
    background-color: $alt-color;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25vw;
      height: auto;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;

    .btnDefault {
      width: 100%;
      font-size: 1.1em;
      
    }

    .value {
      display: block;
      text-align: center;
      font-size: 2.3em;
      white-space: nowrap;
      padding: .2em 0; 
      font-weight: 700;
      background: $alt-color;
      border-radius: 20px;
    }
  }
}

.debt-info {
  background: $alt-color;
  border-radius: 20px;
  padding: 1em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid $green2;
      padding-bottom: 1em;
      margin-bottom: 1em;

      &:last-child {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    .title {
      font-weight: 700;
      margin-bottom: .5em;      
    }

    .debtdata {
      display: flex;
      flex-wrap: wrap;
      
      div {
        width: 50%;
      }

      .date {
        text-align: right;
      }
      strong {
        color: $blue1;
      }
  
    }
  }
}

.payment-setup {

  .boxRounded {    
    margin: 1em 0;
  }
}

.payment-setup__value {
  display: flex;
  justify-content: space-between;
  align-content: center;
  
  .companyLogo {
    width: 35vw;
    align-self: center;
  
    img {
      width: 25vw;
    }
  }
  
  .value {
    font-size: 2.5em;
    font-weight: 700;
    align-self: center;
  }
}

.gadget {

  .section-title {
    margin: .5em 0 1em;
  }

  .btnDefault {
    width: 100%;
  }
}

.payment_gadget {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.5em 0;
  
  .caption {
      font-size: 1.1em;
      font-weight: 700;
      position: relative;
      z-index: 25;
      text-align: right;
      width: 100%;
    }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;    

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: $purple2;
      border-radius: 100%;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 15px;
      height: 15px;
      background: $purple2;
      border-radius: 100%;
      cursor: pointer;
    }
  }

  .value {
    width: 60%;
    
    span {
      font-size: 2em;
    }
  }

  .value__p {
    display: flex;
  }

  input.money {
    font-family: 'all-round-gothic, sans-serif';
    border: 0;
    font-size: 2em;
    font-weight: 700;
    width: auto;
  }

  

  .thermometer {
    width: $speedboxsizeW;
    height: calc(#{$speedboxsizeH} - 50px);
    position: relative;

    // @include large {
    //   height: calc(#{$speedboxsizeH} * 2);
    // }
  }
}

.speedbox {
  height: $speedboxsizeH;
  width: $speedboxsizeW;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  // @include large {
  //   height: calc(#{$speedboxsizeH} * 2);
  //   width: calc(#{$speedboxsizeW} * 2);
  // }
}

.speedbox__groove {
    height: calc(#{$speedboxsizeH} - 20px);
    width: $speedboxsizeW;
    border-radius: 100px;
    border-width: 10px;
    border-style: solid;
    border-color: #d8d8d6 #d8d8d6 transparent transparent;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    
    // @include large {
    //   height: calc((#{$speedboxsizeH} * 2));
    //   width: calc(#{$speedboxsizeW} * 2);
    // }


    &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    // margin: 5px; 
    border-radius: inherit;
  }
}

.speedbox__score {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(#{$speedboxsizeH} - 20px);
  width: $speedboxsizeW;
  background: linear-gradient(to right, #ff0000 0%, #ffff00 50%, #00d300 100%);
  border-radius: 50%;  
  z-index: 1;

  // @include large {
  //   height: calc((#{$speedboxsizeH} * 2) - 50px);
  //   width: calc(#{$speedboxsizeW} * 2);
  // }
}

.speedbox__odo {
  position: absolute;
  background: white;
  background-size: auto 90px;
  left: 10px;
  top: 10px;
  height: calc(#{$speedboxsizeH} - 40px);
  width: calc(#{$speedboxsizeW} - 20px);
  border-radius: 50%;
  box-sizing: border-box;  
  z-index: 2;

  // @include large {
  //   height: calc((#{$speedboxsizeH} * 2) -10px);
  //   width: calc(#{$speedboxsizeW} * 2 - 10px);
    
  // }
}

.speedbox__pointer {
  position: absolute;
  background: transparent url('../../assets/img/speedpointer.svg') no-repeat center top;
  background-size: auto calc((#{$speedboxsizeH} /2) + 10px);
  left: 0;
  top: -10px;
  height: calc(#{$speedboxsizeH} - 20px);
  width: $speedboxsizeW;
  z-index: 21;
  
  // @include large {
  //   height: calc((#{$speedboxsizeH} * 2) - 30px);
  //   width: calc(#{$speedboxsizeW} * 2);
  //   background-size: auto calc((#{$speedboxsizeH}) + 10px);
  // }
}

.speedbox__base {
  width: $speedboxsizeW;
  height: calc(#{$speedboxsizeH}/2);
  background: white url('../../assets/img/speedtriang.svg') no-repeat center 10px;
  background-size: 10px auto;
  position: relative;
  top: calc(#{$speedboxsizeH}/2 - 10px);
  z-index: 20;
  &:before {
    content: '';
    width: $speedboxsizeW;
    position: absolute;
    top: 0;

    //  @include large {
    //   width: calc(#{$speedboxsizeW} * 2);
    // }
  }
  
  // @include large {
  //   height: $speedboxsizeH;
  //   width: calc(#{$speedboxsizeW} * 2);
  //   background-size: 20px auto;
  //   top: calc(#{$speedboxsizeH} - 10px);
  // }
  
}

.speedbox__pointer {
  // transform: rotate(5deg);
  // transition: transform .3s ease;
}

.speedbox__groove {
  // transform: rotate(50deg);
  // transition: transform .3s ease;
}

.btnBack {
  position: relative;
  bottom: 1em;
  float: right;
}