<div class="pagewrap pagein">
  
  <section class="page-title">
    <h1 class="main-title">
      Método de pagamento
    </h1>
  </section>
  <section class="payment-method" v-show="!dealIsSelected">
    <div class="debt-presentation">
      <div class="companyLogo">
        <img :src="getProductLogo(activeOffer.productImg)" :alt="activeOffer.ProductName">
      </div>
      <div class="info">
        <button class="btnDefault" @click="handleDeal()">
          Renegociar
        </button>
        <p class="value money purple2">
          {{ debtValue | toMoney }}
        </p>
      </div>
    </div>
    <div class="debt-info">
      <ul>
        <li>
          <p class="title">
            Crédito Imobiliário
          </p>
          <div class="debtdata">
            <div>
              <p>
                <strong>
                  Título
                </strong>
                3425167852
              </p>
          
              <p>
                <strong>
                  Saldo
                </strong>
                R$ 12504,22
              </p>
            </div>
            <div class="date">
              <strong>
                Data da dívida
              </strong>
              24/02/2020
            </div>
          
          </div>
        </li>

        <li>
          <p class="title">
            Crédito Imobiliário
          </p>
          <div class="debtdata">
            <div>
              <p>
                <strong>
                  Título
                </strong>
                3425167852
              </p>

              <p>
                <strong>
                  Saldo
                </strong>
                R$ 1254,22
              </p>
            </div>
            <div class="date">
              <strong>
                Data da dívida
              </strong>
              24/02/2020
            </div>
        
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="payment-setup" v-show="dealIsSelected">
    <div class="boxRounded payment-setup__value">
      <div class="companyLogo">        
        <img :src="getProductLogo(activeOffer.productImg)" :alt="activeOffer.ProductName">
      </div>
      <div class="value">
        <p class="money purple2">
          {{ debtValue | toMoney }}
        </p>
      </div>
    </div>

    <div class="boxRounded gadget">
      <h2 class="section-title centered">
        Quanto você quer pagar por mês?
      </h2>

      <div class="payment_gadget">
        <div class="value">
          <p class="value__p">
            <span>R$</span> 
            
            <input type="number" class="money green1" 
            step="0.50"
            v-model="paymentGadget.parcel"
            min="50"            
            :max="debtValue"
            placeholer="0.00"
            @input="parcelValue(paymentGadget.parcel, gadgetValue, 1)">
          </p>
          
          <input type="range" class="slider" 
          step="0.5"
          v-model="gadgetValue"
          @change="parcelValue(debtValue, gadgetValue, 2)">
        </div>
        <div class="thermometer">
          <div class="speedbox">
            <div class="speedbox__score"></div>
            <!-- range 315deg a 435deg -->
            <div class="speedbox__groove" :style="{transform: 'rotate('+speedometer.groove+'deg)'}"></div>
            <div class="speedbox__odo"></div>
            <!-- range -110deg a 110deg -->
            <div class="speedbox__pointer" :style="{transform: 'rotate('+speedometer.pointer+'deg)'}"></div>
            <div class="speedbox__base"></div>
          </div>
        </div>
        <p class="caption">Chance de sua proposta ser aceita</p>
      </div>
      <button class="btnDefault smaller bgblue6" @click="openModal()">
        Enviar Proposta
      </button>
    </div>
  </section>
  <CnbModal ref="proposalModal">
    <div class="boxRounded proposal" v-if="proposalStaus===3">
      <p class="section-title">
        Sua proposta foi aceita em
        <strong class="green1">
          3x de <span class="money">R$ 900,00</span>
        </strong>
      </p>
      <button class="btnDefault bgblue4 smaller" @click="dealOk()">
        Confirmar Acordo
      </button>
      <button class="btnDefault transparent smaller" @click="closeModal()">
        Rever proposta
      </button>
    </div>
    <div class="boxRounded proposal proposal-evaulated" v-else-if="proposalStaus===2">
      <p>
        Sua proposta será enviada para análise e pode demorar até 48h dependendo da chance dela ser aceita.
      </p>
      <p>
        Quanto melhor a chance, menor o tempo de espera.
      </p>
      <p class="section-title">
        Deseja continuar?
      </p>
      <button class="btnDefault bgblue4 smaller" @click="closeModal()">
        Rever proposta
      </button>
      <button class="btnDefault transparent smaller">
        Sim
      </button>
    </div>
    <div class="boxRounded proposal proposal-denied" v-else>
      <p class="section-title">
        Sua proposta não foi aceita!
      </p>
      <button class="btnDefault bgblue4 smaller" @click="closeModal()">
        Enviar nova proposta
      </button>
      <button class="btnDefault transparent smaller" @click="seeOffers()">
        Veja nossas ofertas
      </button>
    </div>
  </CnbModal>
  <nuxt-link to="/minhas-dividas" class="btnBack">
    Voltar
  </nuxt-link>
</div>