<div class="pagewrap pagein">
  
  <section class="page-title">
    <h1 class="main-title">
      Minhas Dívidas
    </h1>
  </section>
  <section class="debts">
    
    <div class="debts__debt" v-for="(divida, index) in offers" @click="openDebt(divida)">
      <div class="debt__logo">
        <img :src="getProductLogo(divida.productImg)" :alt="divida.ProductName">
      </div>
      <div class="debt__info">        
        <i></i>
        <span class="value">
          {{ divida.debt.value | toMoney }}
        </span>
      </div>
    </div>
    
  </section>
</div>