<div class="pagewrap pagein">
  
  <section class="page-title">
    <h1 class="main-title">
      Minhas Dívidas
    </h1>
  </section>
  <section class="debts">
    <div class="debts__debt">
      <div class="debt__logo">
        <img src="../../assets/img/logos/claro-movel.svg" alt="Claro móvel">
      </div>
      <div class="debt__info">        
        <i></i>
        <span class="value">
          R$ 2531,50
        </span>
      </div>
    </div>

    <div class="debts__debt">
      <div class="debt__logo">
        <img src="../../assets/img/logos/claro-tv.svg" alt="Claro móvel">
      </div>
      <div class="debt__info">        
        <i></i>
        <span class="value">
          R$ 964,10
        </span>
      </div>
    </div>

    <div class="debts__debt">
      <div class="debt__logo">
        <img src="../../assets/img/logos/claro-residencial.svg" alt="Claro móvel">
      </div>
      <div class="debt__info">
        <i></i>
        <span class="value">
          R$ 738,00
        </span>
      </div>
    </div>
  </section>
</div>