<div class="pagewrap">
  <section class="homeheader">
    <div class="homeheader__bg">
      <img src="../../assets/img/bg_home-top.svg" alt="">
    </div>
    <div class="homeheader__hero">
      <img src="../../assets/img/hero.jpg" alt="">
    </div>
    <div class="homeheader__content">
      <h1>
        Cabe no Bolso
      </h1>
    </div>
  </section>  
  <div class="homebottom">
    <div class="homebottom__bg">
      <img src="../../assets/img/bg_home-bottom.svg" alt="">
    </div>
  </div>
</div>