.pagewrap {
  padding: 0;
  margin: 0;  
}

.br {
  display: block;
}

.homeheader {
  min-width: 100vw;
  position: relative;
  // height: 19.25%;
  z-index: 10;
  
  
  img {
    width: 100%;
    height: auto;
  }
}

.homeheader__hero {
  width: 100%;
  height: 12vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  
  
  img {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -75px);
    width: 100%;
    height: auto;
    // min-height: 27.26vh;
  }
}

.homeheader__content {
  position: absolute;
  top: 0;
  z-index: 90;
  
  .logo {
    display: flex;
    color: #FFF;
    font-weight: 300;
    width: 65vw;
    font-size: 8vw;
    margin: 1em .5em 0;
    
    
    img {
      width: 15vw;
      height: auto;
      margin-right: 15px;

    }
  }
}

.homebottom {
  position: relative;
  background-color: transparent;
  width: 100vw;  
  
  .homebottom__bg {
    position: relative;  
    z-index: 10;

    img {
      width: 100%;
      height: auto;
    }
  }

  .login {    
    position: absolute;
    top: calc(12vh + 3em);
    left: 50%;
    z-index: 90;    
    transform: translate(-50%, 0);
    width: 80%;
    color: $alt-color;

    .inpReg {
      width: 100%;
      padding: 1.7em 1em;
      font-size: 1em;
      margin-bottom: 1.5em;
    }

    .terms {
      margin-bottom: 2.5em;
      display: block;
      font-weight: 300;
    }

    .btnDefault {
      width: 100%;
    }
  }
}

.faq {
  position: absolute;
  bottom: 20px;
  text-align: center;
  z-index: 90;
  width: 100%;

  a {
    color: $alt-color;
    text-decoration: none;
  }
}
