<div class="pagewrap">
  <section class="homeheader">
    <img src="../../assets/img/bg_home-top.svg" alt="">
  </section>  
  <div class="homeheader__hero">
    <img src="../../assets/img/hero.jpg" alt="">
  </div>
  <div class="homeheader__content">
    <h1 class="logo">
      <img src="../../assets/img/cabenobolso_logo.svg" alt="">
      <span>Cabe 
        <span class="br">no Bolso</span>
      </span>
    </h1>
  </div>
  <section class="homebottom">
    <div class="homebottom__bg">
      <img src="../../assets/img/bg_home-bottom.svg" alt="">
    </div>
    <form class="login">
      <p class="pForm">
        <label class="hide" for="Digite seu CPF"></label>
        <input type="text" class="inpReg" placeholder="Digite seu CPF">
      </p>
      <p class="pForm">
        <label for="Terms" class="terms">
          <input type="checkbox"> Li e aceito os Termos de Uso e a Política de Privacidade.
        </label>
      </p>
      <p class="btnHolder">
        <button class="btnDefault altcolor bgpurple2">
          Consultar
        </button>
      </p>
    </form>
    <p class="faq">
      <a href="">
        Ajuda/FAQ
      </a>
    </p>
  </section>
</div>