.pagewrap { 
  padding: 0;
  margin: 0;  
  background-color: #f6f6f6;
}

.br {
  display: block;
}

.homeheader {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  
  
  img {
    width: 100%;
    height: auto;
  }
}

.homeheader__hero {
  width: 100%;
  height: 12vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 9;
  
  
  img {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -75px);
    width: 100%;
    height: auto;

    @include large {
      transform: translate(0, -135px);
    }
  }
}

.homeheader__content {
  position: absolute;
  top: 0;
  z-index: 90;  
}

.homeheader__call {
  font-size: 5vw;
  margin: .5em 1em;
  
  @include large {
    font-size: 2.7em;
  }
  
}

.homebottom {
  position: relative;
  background-color: transparent;
  width: 100%;  
  
  .homebottom__bg {
    position: relative;  
    z-index: 10;

    img {
      width: 100%;
      height: auto;
    }
  }
  .homeintro {
    position: absolute;
    top: calc(12vh + 3em);
    left: 50%;
    z-index: 90;    
    transform: translate(-50%, 0);
    width: 80%;
    color: $alt-color;
  }

  .homeintro__text {
    padding: 2em 0;
    font-size: 6vw;

    @include large {
      font-size: 3em;
      padding: 2.4em 0;
    }

    p {
      margin-bottom: 1em;
    }
  }

  .login {    
    display: none;

    .inpReg {
      width: 100%;
      padding: 1.7em 1em;
      font-size: 1em;
      margin-bottom: 1.5em;
    }

    .terms {
      margin-bottom: 2.5em;
      display: block;
      font-weight: 300;
    }

    .btnDefault {
      width: 100%;
    }
  }
}

.iconbox {

  .icon {
    width: 18vw;
    height: 18vw;
    margin: 0 auto;

    @include large {
      width: 10vw;
    height: 10vw;
    }
  }

}

.articleRegular {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
  
  p {
    margin-bottom: 1em;

    @include large {
      font-size: 1.2em;
    }
  }
}

.titleArticle {
  font-size: 2em;
  margin-bottom: .4em;
  white-space: normal;

  @include large {
    font-size: 3em;
  }
}

.howItWorks {

  h3 {
    font-size: 5vw;
    margin-bottom: .5em;

    @include large {
      font-size: 2em;
    }
  }
}

// .faq {
//   position: absolute;
//   bottom: 20px;
//   text-align: center;
//   z-index: 90;
//   width: 100%;

//   a {
//     color: $alt-color;
//     text-decoration: none;
//   }
// }
